Repository Racer159/jackal, changes with the owners that CODEOWNERS names for each.
All owners: @racer159/jackal, @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321, @austenbryan

better tests and ansi image
  .github/workflows/release.yml
  src/pkg/message/logo.go
  src/test/e2e/00_use_cli_test.go
  src/test/packages/00-yq-checks/file1.yaml
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

initing and testing
  src/test/packages/00-yq-checks/file1.yaml
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

fix more tests + logo
  .images/jackal-logo.png
  .images/zarf-logo.png
  src/test/e2e/06_create_sbom_test.go
Owners: @racer159/jackal, @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

fix release pipeline
  .github/workflows/release.yml
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

fix openssf scorecard
  README.md
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

fix release yml
  .github/workflows/release.yml
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

fix arm64 init
  packages/jackal-registry/jackal.yaml
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321

fix release
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @jeff-mccoy, @racer159, @Noxsios, @lucasrod16, @AustinAbro321, @racer159/jackal

CODEOWNERS:

* @racer159/jackal

# Docs & examples
/adr/ @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/docs/ @jeff-mccoy  @racer159 @Noxsios @lucasrod16 @AustinAbro321
/examples/ @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
*.md @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321

# Core code
/src/ @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/go.* @jeff-mccoy  @racer159 @Noxsios @lucasrod16 @AustinAbro321
main.go @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321

# Init package
/packages/ @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/jackal.yaml @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321

# Docs Website
/docs-website/ @racer159 @Noxsios @jeff-mccoy @lucasrod16 @AustinAbro321

# Privileged pipeline files
/.github/ @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/hack/ @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/.gitignore @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/.golangci.yml @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/.goreleaser.yml @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/.grype.yaml @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/Dockerfile @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/renovate.json @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321
/Makefile @jeff-mccoy @racer159 @Noxsios @lucasrod16 @AustinAbro321

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan
/cosign.pub @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan
