Repository Racer159/jackal, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/zarf, @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios, @Madeline-UX, @mike-winberry, @runyontr

CODEOWNERS:

* @defenseunicorns/zarf

# Docs & examples
/adr/ @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/docs/ @Madeline-UX @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/examples/ @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
*.md @Madeline-UX @jeff-mccoy @cmwylie19 @Racer159 @Noxsios

# Core code
/src/ @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/go.* @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
main.go @jeff-mccoy @cmwylie19 @Racer159 @Noxsios

# Init package
/packages/ @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/zarf.yaml @jeff-mccoy @cmwylie19 @Racer159 @Noxsios

# Web UI-specific
/package*.json @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/src/internal/api @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/src/ui/ @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/playwright.config.ts @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/svelte.config.js @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/tsconfig.json @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/vite.config.ts @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19
/docs-website/ @mike-winberry @Racer159 @Noxsios @jeff-mccoy @cmwylie19

# Privileged pipeline files
/.github/ @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/hack/ @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/.gitignore @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/.golangci.yml @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/.goreleaser.yml @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/.grype.yaml @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/Dockerfile @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/renovate.json @jeff-mccoy @cmwylie19 @Racer159 @Noxsios
/Makefile @jeff-mccoy @cmwylie19 @Racer159 @Noxsios

# Additional privileged files
/CODEOWNERS @jeff-mccoy @runyontr
/cosign.pub @jeff-mccoy @runyontr
/LICENSE @jeff-mccoy @runyontr

WIP, OCI tests passing
  src/cmd/initialize.go
  src/cmd/tools/zarf.go
  src/internal/packager/images/pull.go
  src/pkg/oci/common.go
  src/pkg/oci/copier.go
  src/pkg/oci/fetch.go
  src/pkg/oci/interface.go
  src/pkg/oci/manifest.go
  src/pkg/oci/progress.go
  src/pkg/oci/pull.go
  src/pkg/oci/utils.go
  src/pkg/packager/composer/oci.go
  src/pkg/packager/create_stages.go
  src/pkg/packager/publish.go
  src/pkg/packager/sources/new.go
  src/pkg/utils/transport.go
  src/pkg/zarfoci/manifest.go
  src/pkg/zarfoci/pull.go
  src/test/e2e/50_oci_publish_deploy_test.go
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

WIP
  src/pkg/oci/common.go
  src/pkg/oci/copier.go
  src/pkg/oci/pull.go
  src/pkg/ocizarf/common.go
  src/pkg/ocizarf/copier.go
  src/pkg/ocizarf/fetch.go
  src/pkg/ocizarf/manifest.go
  src/pkg/ocizarf/pull.go
  src/pkg/packager/sources/oci.go
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

WIP, tests passing
  src/cmd/initialize.go
  src/cmd/tools/zarf.go
  src/pkg/oci/common.go
  src/pkg/oci/pull.go
  src/pkg/ocizarf/common.go
  src/pkg/ocizarf/pull.go
  src/pkg/packager/sources/new.go
  src/pkg/packager/sources/oci.go
  src/pkg/packager/sources/tarball.go
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

wip: initial setup and test
  src/pkg/packager/creator/tree.go
  src/pkg/packager/creator/tree_test.go
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

initial idea
  examples/dos-games/zarf.yaml
  src/internal/packager/images/pull.go
  src/pkg/packager/creator/normal.go
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

docs: updated the docs
  docs/3-create-a-zarf-package/4-zarf-schema.md
  zarf.schema.json
Owners: @Madeline-UX, @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios, @defenseunicorns/zarf

feat: allow chart deploy overrides
  adr/0023-chart-override.md
  examples/helm-charts/zarf.yaml
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/types/component.go
Owners: @Madeline-UX, @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

addressed code review comments.
  adr/0023-chart-override.md
  docs/3-create-a-zarf-package/4-zarf-schema.md
  examples/helm-charts/zarf.yaml
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/types/component.go
  zarf.schema.json
Owners: @Madeline-UX, @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios, @defenseunicorns/zarf

initial test case laid out
  src/test/e2e/14_create_sha_index_test.go
  src/test/packages/14-index-sha/zarf.yaml
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios

WIP, initial scaffold
  src/internal/packager/images/pull.go
  src/pkg/packager/creator/normal.go
Owners: @jeff-mccoy, @cmwylie19, @Racer159, @Noxsios
