Repository Racer159/jackal, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/zarf, @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16, @Madeline-UX, @mike-winberry, @mikevanhemert, @austenbryan

CODEOWNERS:

* @defenseunicorns/zarf

# Docs & examples
/adr/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/docs/ @Madeline-UX @jeff-mccoy  @Racer159 @Noxsios @lucasrod16
/examples/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
*.md @Madeline-UX @jeff-mccoy @Racer159 @Noxsios @lucasrod16

# Core code
/src/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/go.* @jeff-mccoy  @Racer159 @Noxsios @lucasrod16
main.go @jeff-mccoy @Racer159 @Noxsios @lucasrod16

# Init package
/packages/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/zarf.yaml @jeff-mccoy @Racer159 @Noxsios @lucasrod16

# Docs Website
/docs-website/ @mike-winberry @Racer159 @Noxsios @jeff-mccoy @lucasrod16

# Privileged pipeline files
/.github/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/hack/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/.gitignore @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/.golangci.yml @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/.goreleaser.yml @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/.grype.yaml @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/Dockerfile @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/renovate.json @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/Makefile @jeff-mccoy @Racer159 @Noxsios @lucasrod16

# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan
/cosign.pub @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan

WIP, OCI tests passing
  src/cmd/initialize.go
  src/cmd/tools/zarf.go
  src/internal/packager/images/pull.go
  src/pkg/oci/common.go
  src/pkg/oci/copier.go
  src/pkg/oci/fetch.go
  src/pkg/oci/interface.go
  src/pkg/oci/manifest.go
  src/pkg/oci/progress.go
  src/pkg/oci/pull.go
  src/pkg/oci/utils.go
  src/pkg/packager/composer/oci.go
  src/pkg/packager/create_stages.go
  src/pkg/packager/publish.go
  src/pkg/packager/sources/new.go
  src/pkg/utils/transport.go
  src/pkg/zarfoci/manifest.go
  src/pkg/zarfoci/pull.go
  src/test/e2e/50_oci_publish_deploy_test.go
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

WIP
  src/pkg/oci/common.go
  src/pkg/oci/copier.go
  src/pkg/oci/pull.go
  src/pkg/ocizarf/common.go
  src/pkg/ocizarf/copier.go
  src/pkg/ocizarf/fetch.go
  src/pkg/ocizarf/manifest.go
  src/pkg/ocizarf/pull.go
  src/pkg/packager/sources/oci.go
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

WIP, tests passing
  src/cmd/initialize.go
  src/cmd/tools/zarf.go
  src/pkg/oci/common.go
  src/pkg/oci/pull.go
  src/pkg/ocizarf/common.go
  src/pkg/ocizarf/pull.go
  src/pkg/packager/sources/new.go
  src/pkg/packager/sources/oci.go
  src/pkg/packager/sources/tarball.go
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

wip: initial setup and test
  src/pkg/packager/creator/tree.go
  src/pkg/packager/creator/tree_test.go
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

initial idea
  examples/dos-games/zarf.yaml
  src/internal/packager/images/pull.go
  src/pkg/packager/creator/normal.go
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

docs: updated the docs
  docs/3-create-a-zarf-package/4-zarf-schema.md
  zarf.schema.json
Owners: @Madeline-UX, @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16, @defenseunicorns/zarf

feat: allow chart deploy overrides
  adr/0023-chart-override.md
  examples/helm-charts/zarf.yaml
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/types/component.go
Owners: @Madeline-UX, @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

addressed code review comments.
  adr/0023-chart-override.md
  docs/3-create-a-zarf-package/4-zarf-schema.md
  examples/helm-charts/zarf.yaml
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/types/component.go
  zarf.schema.json
Owners: @Madeline-UX, @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16, @defenseunicorns/zarf

initial test case laid out
  src/test/e2e/14_create_sha_index_test.go
  src/test/packages/14-index-sha/zarf.yaml
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16

WIP, initial scaffold
  src/internal/packager/images/pull.go
  src/pkg/packager/creator/normal.go
Owners: @jeff-mccoy, @Racer159, @Noxsios, @lucasrod16
